{% extends 'base.html' %}
{% block title_block %} {{title}} {% endblock %}
{% load static %}
{% block body_block %}

<div class="glass-1 p-5 rounded">
    <div class="col-sm-4 mx-auto">
        <h2 class="text-center mb-4">All Categories</h2>
        {% if user.is_authenticated %}
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="{% url 'blogApp:singleCategory' slug=category.cat_slug %}" style="text-decoration: none;">{{category.cat_name}}</a></div>
                <a href="{% url 'blogApp:editCategory' slug=category.cat_slug %}" class="btn btn-primary btn-sm">Edit</a>
              </div>
              <span class="badge bg-primary rounded-pill">{{category.posts_count}}</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <ul class="list-group">
            {% for category in categories %}
            <a href="{% url 'blogApp:singleCategory' slug=category.cat_slug %}" style="text-decoration: none; color: #212529;">
              <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{category.cat_name}}</div>
                </div>
                <span class="badge bg-primary rounded-pill">{{category.posts_count}}</span>
              </li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}