{% extends 'base.html' %}
{% block title_block %} {{title}} {% endblock %}
{% load static %}
{% block body_block %}

<div class="glass-1 p-5 rounded">
    <div class="col-sm-8 mx-auto">
        <h2>Account Sign in</h2>
        <form method="POST">
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Type Full Name" required>
                <label for="floatingInput">username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Enter Password</label>
            </div>
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="submit" name="submit" value="Sign in" class="btn btn-primary mt-2">
            </div>
        </form>
        <p>New User? <a href="{% url 'userApp:signup' %}">Create Account</a></p>
    </div>
</div>

{% endblock %}